DATABASE_URL=postgres://postgres:postgres@localhost:5432/config_watch
RUST_LOG=trace,config_agent=trace,config_control_plane=trace
CONTROL_PLANE_ADDR=127.0.0.1:8081
CONTROL_PLANE_BASE_URL=http://127.0.0.1:8081
